body {
	font-family: 'Open Sans','Arial',sans-serif;
	font-weight: 300;
	background-color: #faf8ef;
}
.wrapper {
	width: 400px;
	position: relative;
	margin: auto;
	text-align: center;
}
h1.start-title {
	font-size: 76px;
	margin-bottom: 0;
	color: #444444;
	font-weight: 400;
}
span.start-numeral {
	font-size: 42px;
	padding-left: .2em;
	padding-right: .2em;
}
p.start-desc {
	padding-top: 30px;
	color: #776e65;
	font-size: 18px;
	width: 400px;
	margin: auto;
	text-align: left;
}
p.start-desc a {
	color: #776e65;
	font-weight: bold;
}

.game-container {
	text-align: left;
	font-size: 16px;
	font-weight: 300;
}
.score-container {
	color: #eee4da;
	background-color: #8f7a66;
	padding: 7px 10px;
	width: 265px;
	display: inline-block;
	border-radius: 5px;
}
.score-container span.score {
	color: #ffffff;
	margin-left: .25em;
	font-weight: 600;
	height: 20px;
}
.score-container span.score-earned {
	color: #edcf72;
}
.new-game {
	background-color: #8f7a66;
	color: #ffffff;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 110px;
	float: right;
	border-radius: 5px;
}
.new-game:hover {
	background-color: #a6978a;
	cursor: pointer;
	cursor: hand;
}

.question-container {
	position: relative;
}
table {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
td {
	padding-top: 0;
	padding-bottom: 0;
}
td.lang {
	color: #444444;
	font-size: 15px;
}
.lang-progress {
	font-size: 18px;
}
td.operand {
	padding-left: .15em;
	padding-right: .15em;
}
td.var {
	font-family: 'Arial', sans-serif;
	font-size: 140px;
}
div[lang-progress] {
	color: #8f7a66;
}

.response-container {
	position: relative;
}
input {
	border-radius: 5px;
	text-align: center;
	margin: 0;
	padding: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
	width: 400px;
	font-family: 'Arial', sans-serif;
	border: 1px solid #cccccc;
	font-size: 120px;
}
input[type=number].correct {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
input[type=number].incorrect {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
input[type=submit] {
	width: 402px;
	font-family: 'Open Sans','Arial',sans-serif;
	font-weight: 300;
	margin-top: 20px;
	font-size: 24px;
	padding-top: .7em;
	padding-bottom: .7em;
	color: #ffffff;
	background-color: #8f7a66;
	border: 1px solid #806D5B;
}
input[type=submit]:hover {
	background-color: #806D5B;
	cursor: pointer;
	cursor: hand;
}
input[type=submit]:focus {
	background-color: #806D5B;
}

/* achievements */
.achievement-container {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px;
	margin: auto;
	min-height: 69px;
}
.achievement-awarded {
	font-size: 12px;
	font-weight: 600;
	color: #444444;
}
.achievement-tile {
	color: #444444;
	text-align: left;
	background-color: #bbada0;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	opacity: .5;
}
.achievement-tile.earned {
	opacity: 1;
}
.achievement-tile.earned.new {
	-moz-box-shadow: 0 0 6px 2px #edcf72;
	-webkit-box-shadow: 0 0 6px 2px #edcf72;
	box-shadow: 0px 0px 6px 2px #edcf72;
}
.achievement-title {
	color: #eee4da;
}
.achievement-desc {
}

/* animations */
.animate-fade {
	position: absolute;
	top: 0;
	left: 0;
}
.animate-fade.ng-enter, .animate-fade.ng-leave {
	-webkit-transition: .2s linear all;
	transition: .2s linear all;
}
.animate-fade.ng-enter {
 	opacity: 0;
}
.animate-fade.ng-enter.ng-enter-active {
	opacity: 1;
}
.animate-fade.ng-leave {
	opacity: 1;
}
.animate-fade.ng-leave.ng-leave-active {
	opacity: 0;
}

.score, .score-earned {
	-webkit-transition: .5s linear all;
	transition: .5s linear all;
}

.achievement-tile.ng-enter, .achievement-tile.ng-leave {
	-webkit-transition: .2s linear all;
	transition: .2s linear all;
}
.achievement-tile.ng-enter {
	opacity: 0;
}
.achievement-tile.ng-enter.ng-enter-active{
	opacity: 1;
}
.achievement-tile.ng-leave {
	opacity: 1;
}
.achievement-tile.ng-leave.ng-leave-active{
	opacity: 0;
}
.achievement-tile.ng-enter-stagger {
  transition-delay: 0.1s;
  animation-delay: 0.1s;
}