<div class="game-container">
  <div class="score-container">SCORE <span class="score">{{currentScore}} <span class="score-earned">{{earnedPoints}}</span></span></div>
  <!--<span class="score-container">Best: {{bestScore}}</span>-->
  <div ng-click="newGame()" class="new-game">NEW GAME</div>
  <!--<div>{{trials}} ({{accuracy | percentage:2}}), Current Streak: {{currentStreak}}, Longest Streak: {{bestStreak}}</div>-->
</div>
<table>
  <tr>
    <td class="lang">
      {{lang1.toUpperCase()}}
      <div class="lang-progress" lang-progress="langs[lang1].total"></div>
    </td>
    <td class="lang"></td>
    <td class="lang">
      {{lang2.toUpperCase()}}
      <div class="lang-progress" lang-progress="langs[lang2].total"></div>
    </td>
  </tr>
  <tr>
    <td class="var">{{var1}}</td>
    <td class="var operand">+</td>
    <td class="var">{{var2}}</td>
  </tr>
</table>
<div ui-view></div>